<form [formGroup]="todoForm">
    <div fxLayout="row" fxLayoutAlign="start center">
        <p class="m-0">Title</p>
        <mat-form-field fxLayoutAlign="start">
            <input type="text" matInput placeholder="Enter a title." formControlName="title">
        </mat-form-field>
        <button type="button" (click)="addTask()">Add new task</button>
        <button type="button" (click)="showValues()">Show values</button>

    </div>
    <table>
        <thead>
            <tr>
                <th>
                    Tasks
                </th>
                <th>
                    Priority
                </th>

            </tr>
        </thead>
        <tbody formArrayName="tasks">
            <tr *ngFor="let t of taskArray.controls">
                <td>
                    <mat-form-field>
                        <input matInput placeholder="Description" formControlName="description">
                    </mat-form-field>
                </td>
                <td>
                    <mat-radio-group aria-label="Select an option" formControlName="priority"> 
                        <mat-radio-button value="Low">Low</mat-radio-button>
                        <mat-radio-button value="Medium">Medium</mat-radio-button>
                        <mat-radio-button value="High">High</mat-radio-button>
                    </mat-radio-group> 
                </td>
                <td>
                    <button type="button">X</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>